<style media="screen">
  h1, a {
    color: #9d48f2;
    text-align: center;
  }
  body {
    background-color: #8e4a0e;
  }
  p {
    background-color: #14ba2d;
    border: solid 1px #91c433;
    padding: 10px;
    width: 750px;
  }
  #movie{
    color: #0c7006;
  }
  h3 {
    display: inline;
  }
 #ang {
   color: #e8f265;
 }
  </style>
